<div class="min-h-screen flex bg-gray-100">
  <div
    class="hidden lg:flex lg:w-1/2 relative overflow-hidden bg-gradient-to-br from-purple-700 via-purple-600 to-indigo-700"
  >
    <div class="absolute -top-20 -left-20 w-72 h-72 bg-white/10 rounded-full"></div>

    <div class="absolute bottom-10 right-10 w-96 h-96 bg-pink-400/10 rounded-full"></div>

    <div
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-80 h-80 bg-white/5 rounded-full"
    ></div>
    <div class="relative z-10 flex flex-col justify-center px-16 text-white">
      <h1 class="text-5xl font-bold mb-4">Job Portal</h1>

      <p class="text-xl text-purple-100">
        Find opportunities that match your skills and ambitions.
      </p>
    </div>
  </div>
  <div class="w-full lg:w-1/2 flex items-center justify-center p-8">
    <div class="w-full max-w-2xl bg-white/90 backdrop-blur-xl rounded-3xl shadow-2xl p-8">
      <div class="text-center mb-8">
        <h2 class="text-3xl font-bold text-gray-800">Create Account</h2>
        @if (registerForm.dirty) {
          <p class="text-blue-600 mt-4 bg-blue-100 py-1 px-2 rounded">
            Remember this details will be used further for your job application process.
          </p>
        }
      </div>

      <form [formGroup]="registerForm" class="space-y-5">
        <div class="grid grid-cols-2 gap-2">
          <!-- Name -->

          <div class="grid grid-cols-2 gap-2">
            <div class="flex flex-col gap-2">
              <label class="text-sm font-medium text-gray-600"> First Name </label>

              <input
                type="text"
                placeholder="John"
                class="w-full rounded-xl border border-gray-300 px-4 py-3 outline-none transition focus:border-purple-600 focus:ring-4 focus:ring-purple-100"
                maxlength="20"
                formControlName="firstName"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label class="text-sm font-medium text-gray-600"> Last Name </label>

              <input
                type="text"
                placeholder="Doe"
                class="w-full rounded-xl border border-gray-300 px-4 py-3 outline-none transition focus:border-purple-600 focus:ring-4 focus:ring-purple-100"
                maxlength="20"
                formControlName="lastName"
              />
            </div>
          </div>

          <!-- Email -->

          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-600"> Email </label>

            <input
              type="email"
              placeholder="john@example.com"
              class="w-full rounded-xl border border-gray-300 px-4 py-3 outline-none transition focus:border-purple-600 focus:ring-4 focus:ring-purple-100"
              formControlName="email"
            />
          </div>

          <!-- Password -->

          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-600"> Password </label>

            <input
              type="password"
              placeholder="••••••••"
              class="w-full rounded-xl border border-gray-300 px-4 py-3 outline-none transition focus:border-purple-600 focus:ring-4 focus:ring-purple-100"
              formControlName="password"
            />
          </div>

          <!-- Confirm Password -->

          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-600"> Confirm Password </label>

            <input
              type="password"
              placeholder="••••••••"
              class="w-full rounded-xl border border-gray-300 px-4 py-3 outline-none transition focus:border-purple-600 focus:ring-4 focus:ring-purple-100"
              formControlName="confirmPassword"
            />
          </div>
        </div>

        @if (errorMessage) {
          <p class="text-red-500 text-sm">
            {{ errorMessage }}
          </p>
        }

        <!-- Button -->

        <button
          type="submit"
          class="w-full rounded-xl bg-gradient-to-r from-purple-600 to-violet-600 py-3 font-semibold text-white hover:shadow-xl hover:scale-[1.02] transition"
          (click)="onSubmit()"
        >
          Create Account
        </button>

        <!-- Divider -->

        <div class="flex items-center gap-4 py-2">
          <div class="flex-1 h-px bg-gray-300"></div>

          <span class="text-gray-400 text-sm"> OR </span>

          <div class="flex-1 h-px bg-gray-300"></div>
        </div>

        <!-- Login -->

        <p class="text-center text-gray-500">
          Already have an account?

          <a routerLink="/login" class="text-purple-600 font-semibold hover:underline"> Sign In </a>
        </p>
      </form>
    </div>
  </div>
</div>
