<header
  class="sticky top-0 z-30 h-20 bg-purple-100 border-b border-purple-200 px-8 flex items-center justify-between shadow-sm"
>
  <!-- Left -->
  <div>
    <h1 class="text-2xl font-bold text-white">
      <!-- {{ pageTitle }} -->
    </h1>

    <p class="text-sm text-slate-400 mt-1">
      <!-- {{ pageDescription }} -->
    </p>
  </div>

  <!-- Right -->
  <div class="flex justify-between items-center w-full">
    <!-- Notification -->
    <div class="flex gap-4">
      <button class="relative h-11 w-11 rounded-xl bg-purple-300 hover:bg-purple-700 transition">
        🔔
        <span class="absolute top-2 right-2 h-2 w-2 rounded-full bg-red-500"></span>
      </button>

      <!-- Theme Toggle -->
      <button class="h-11 w-11 rounded-xl bg-purple-300 hover:bg-purple-700 transition">🌙</button>
    </div>

    <!-- Profile -->
    <button
      class="flex items-center gap-3 rounded-xl bg-purple-300 px-3 py-2 hover:bg-purple-500 transition"
    >
      <div
        class="h-10 w-10 rounded-full bg-gradient-to-r from-purple-600 to-violet-700 flex items-center justify-center text-white font-bold"
      >
        GK
      </div>

      <div class="text-left">
        <p class="text-white text-sm font-bold">Profile</p>

        <p class="text-slate-600 text-xs font-semibold">User</p>
      </div>
    </button>
  </div>
</header>
