<aside class="w-72 min-h-screen bg-white border-r border-purple-200 flex flex-col shadow-sm">
  <!-- Logo -->

  <div class="px-8 py-8 border-b border-purple-200 bg-purple-100">
    <h1
      class="text-3xl font-bold bg-gradient-to-r from-purple-600 to-indigo-600 bg-clip-text text-transparent"
    >
      Job Portal
    </h1>

    <p class="text-gray-400 text-sm mt-2 font-semibold">Your career starts here.</p>
  </div>

  <!-- Navigation -->

  <nav class="flex-1 px-5 py-6 space-y-3 font-semibold bg-purple-100">
    <a
      routerLink="jobs"
      routerLinkActive="bg-gradient-to-r from-purple-600 to-indigo-600 text-white shadow-lg"
      class="flex items-center gap-4 px-5 py-3 rounded-xl text-gray-600 hover:bg-purple-50 hover:text-purple-700 transition-all duration-200"
    >
      💼
      <span>Browse Jobs</span>
    </a>

    <a
      routerLink="my-applications"
      routerLinkActive="bg-gradient-to-r from-purple-600 to-indigo-600 text-white shadow-lg"
      class="flex items-center gap-4 px-5 py-3 rounded-xl text-gray-600 hover:bg-purple-50 hover:text-purple-700 transition-all duration-200"
    >
      📄
      <span>My Applications</span>
    </a>

    <a
      routerLink="profile"
      routerLinkActive="bg-gradient-to-r from-purple-600 to-indigo-600 text-white shadow-lg"
      class="flex items-center gap-4 px-5 py-3 rounded-xl text-gray-600 hover:bg-purple-50 hover:text-purple-700 transition-all duration-200"
    >
      👤
      <span>My Profile</span>
    </a>
  </nav>

  <!-- Footer -->

  <div class="border-t border-purple-200 p-5 bg-purple-100">
    <button
    (click)="logout()"
      class="w-full rounded-xl bg-gradient-to-r from-purple-600 to-indigo-600 py-3 text-white font-semibold hover:shadow-xl hover:scale-[1.02] transition"
    >
      Logout
    </button>
  </div>
</aside>
